<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="categoryProductForm"> <!-- Cambiado aquí -->
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{categoryProductId}}</p> <!-- Cambiado aquí -->
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Producto ID:</label>
              </div>
              <div class="col-8">
                <input type="number" class="form-control" formControlName="productId" title="Producto ID" placeholder="Ingrese el ID del producto">
                <div *ngIf="getTheFormGroup.productId.errors && (getTheFormGroup.productId.dirty || getTheFormGroup.productId.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.productId.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Categoría ID:</label>
              </div>
              <div class="col-8">
                <input type="number" class="form-control" formControlName="categoryId" title="Categoría ID" placeholder="Ingrese el ID de la categoría">
                <div *ngIf="getTheFormGroup.categoryId.errors && (getTheFormGroup.categoryId.dirty || getTheFormGroup.categoryId.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.categoryId.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <!-- Botón Crear: solo se muestra cuando mode == 2 -->
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="create()"> 
                  Crear 
                </button>
                <!-- Botón Actualizar: solo se muestra cuando mode == 3 -->
                <button *ngIf="mode == 3" type="button" class="btn btn-primary btn-block" (click)="update()"> 
                  Actualizar 
                </button>
                <!-- Botón Eliminar: solo se muestra cuando mode == 1 -->
                <button *ngIf="mode == 1" type="button" class="btn btn-danger btn-block" (click)="delete()"> 
                  Eliminar 
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
