<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row justify-content-center"> <!-- Centrado horizontalmente -->
    <div class="col-12 col-md-8"> <!-- Limita el tamaño en pantallas grandes -->
      <div class="card shadow bg-translucent"> <!-- Fondo translúcido con desenfoque -->
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Seguro</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Seguro</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Seguro</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar Seguro</h3>
        </div>
        <form class="form" [formGroup]="seguroForm">
          <div class="card-body">
            <!-- ID -->
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{seguroId}}</p>
              </div>
            </div>
            <br />

            <!-- Compañía -->
            <div class="row">
              <div class="col-4">
                <label>Compañía:</label>
              </div>
              <div class="col-8">
                <input *ngIf="mode != 1" type="text" class="form-control" formControlName="compania" title="Compañía" placeholder="Ingrese el nombre de la compañía">
                <p *ngIf="mode == 1">{{ seguroForm.value.compania }}</p>
                <div *ngIf="getTheFormGroup.compania?.errors && (getTheFormGroup.compania?.dirty || getTheFormGroup.compania?.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.compania?.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Número de Póliza -->
            <div class="row">
              <div class="col-4">
                <label>Número de Póliza:</label>
              </div>
              <div class="col-8">
                <input *ngIf="mode != 1" type="text" class="form-control" formControlName="numero_poliza" title="Número de Póliza" placeholder="Ingrese el número de póliza">
                <p *ngIf="mode == 1">{{ seguroForm.value.numero_poliza }}</p>
                <div *ngIf="getTheFormGroup.numero_poliza?.errors && (getTheFormGroup.numero_poliza?.dirty || getTheFormGroup.numero_poliza?.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.numero_poliza?.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Fecha de Vencimiento -->
            <div class="row">
              <div class="col-4">
                <label>Fecha de Vencimiento:</label>
              </div>
              <div class="col-8">
                <input *ngIf="mode != 1" type="date" class="form-control" formControlName="fecha_vencimiento" title="Fecha de Vencimiento">
                <p *ngIf="mode == 1">{{ seguroForm.value.fecha_vencimiento | date:'yyyy-MM-dd' }}</p>
                <div *ngIf="getTheFormGroup.fecha_vencimiento?.errors && (getTheFormGroup.fecha_vencimiento?.dirty || getTheFormGroup.fecha_vencimiento?.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.fecha_vencimiento?.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Campo ID del Vehículo -->
            <div class="row mb-3">
              <div class="col-4">
                Vehiculo:
              </div>
              <div class="col-8">
               <select class="form-control" formControlName="vehiculo_id" [(ngModel)]="seguro.vehiculo.id" >
                <option *ngFor="let option of vehiculos" [value]="option.id">Id: {{option.id}}</option>
               </select>
                <div *ngIf="trySend && getTheFormGroup.vehiculo_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Botones para Crear/Actualizar/Eliminar -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="create()">Crear </button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="update()">Actualizar </button>
                <button *ngIf="mode == 4" type="button" class="btn btn-danger btn-block" (click)="delete()">Eliminar </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
