<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Gasto</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Gasto</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Gasto</h3>
        </div>
        <form class="form" [formGroup]="spentForm">
          <div class="card-body">
            <!-- Campos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="description" class="form-label">Descripción:</label>
              </div>
              <div class="col-8">
                <input
                  id="description"
                  type="text"
                  class="form-control"
                  formControlName="description"
                  placeholder="Ingrese la descripción"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="monto" class="form-label">Monto:</label>
              </div>
              <div class="col-8">
                <input
                  id="monto"
                  type="number"
                  class="form-control"
                  formControlName="monto"
                  placeholder="Ingrese el monto"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="date" class="form-label">Fecha:</label>
              </div>
              <div class="col-8">
                <input
                  id="date"
                  type="date"
                  class="form-control"
                  formControlName="date"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">Servicio:</div>
              <div class="col-8">
                <select
                  class="form-control"
                  formControlName="servicio_id"
                  [(ngModel)]="spent.servicio.id"
                >
                  <option *ngFor="let option of servicios" [value]="option.id">
                    Id: {{ option.id }} - Descripción: {{option.description}} - Costo: {{option.costo}}
                  </option>
                </select>
                <div
                  *ngIf="trySend && getTheFormGroup.servicio_id.invalid"
                  class="invalid-feedback"
                >
                  Este campo es obligatorio.
                </div>
              </div>
            </div>
          </div>
          <!--Conductor-->
          <div class="row mb-3">
            <div class="col-4">Conductor:</div>
            <div class="col-8">
              <select
                class="form-control"
                formControlName="conductor_id"
                [(ngModel)]="spent.conductor.id"
              >
                <option *ngFor="let option of conductors" [value]="option.id">
                  Id: {{ option.id }} - Id Usuario: {{option.user_id}} - Licencia:{{option.licencia}} - Tipo licencia: {{option.tipo_licencia}} - Teléfono: {{option.telefono}}                </option>
              </select>
              <div
                *ngIf="trySend && getTheFormGroup.conductor_id.invalid"
                class="invalid-feedback"
              >
                Este campo es obligatorio.
              </div>
            </div>
          </div>

          <!--Dueño-->
          <div class="row mb-3">
            <div class="col-4">Dueño:</div>
            <div class="col-8">
              <select
                class="form-control"
                formControlName="dueno_id"
                [(ngModel)]="spent.dueno.id"
              >
                <option *ngFor="let option of duenos" [value]="option.id">
                  Id: {{ option.id }} - Id Usuario: {{option.user_id}} - Conductor:{{option.conductor_id}} 
                </option>
              </select>
              <div
                *ngIf="trySend && getTheFormGroup.dueno_id.invalid"
                class="invalid-feedback"
              >
                Este campo es obligatorio.
              </div>
            </div>
          </div>

          <!-- Botones -->
          <div class="row">
            <div class="col-8 offset-4 d-flex justify-content-between">
              <button
                *ngIf="mode === 2 || mode === 3"
                type="button"
                class="btn btn-success"
                (click)="handleAction()"
              >
                {{ mode === 2 ? "Crear" : "Actualizar" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
