<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Gasto</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Gasto</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Gasto</h3>
        </div>
        <form class="form" [formGroup]="spentForm">
          <div class="card-body">
            <!-- ID -->
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{spentId}}</p>
              </div>
            </div>
            <br />

            <!-- Monto -->
            <div class="row">
              <div class="col-4">
                <label for="monto" class="form-label">Monto:</label>
              </div>
              <div class="col-8">
                <input 
                  type="number" 
                  class="form-control" 
                  formControlName="monto" 
                  title="Monto" 
                  placeholder="Ingrese el monto"
                >
                <div *ngIf="spentForm.get('monto').errors && (spentForm.get('monto').dirty || spentForm.get('monto').touched || trySend)">
                  <strong *ngIf="spentForm.get('monto').errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Descripción -->
            <div class="row">
              <div class="col-4">
                <label for="description" class="form-label">Descripción:</label>
              </div>
              <div class="col-8">
                <input 
                  type="text" 
                  class="form-control" 
                  formControlName="description" 
                  title="Descripción" 
                  placeholder="Ingrese la descripción"
                >
                <div *ngIf="spentForm.get('description').errors && (spentForm.get('description').dirty || spentForm.get('description').touched || trySend)">
                  <strong *ngIf="spentForm.get('description').errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Fecha -->
            <div class="row">
              <div class="col-4">
                <label for="date" class="form-label">Fecha:</label>
              </div>
              <div class="col-8">
                <input 
                  *ngIf="mode != 1" 
                  type="date" 
                  class="form-control" 
                  formControlName="date" 
                  title="Fecha" 
                  placeholder="Seleccione la fecha"
                >
                <p *ngIf="mode == 1">{{ spentForm.value.date }}</p>
                <div *ngIf="spentForm.get('date').errors && (spentForm.get('date').dirty || spentForm.get('date').touched || trySend)">
                  <strong *ngIf="spentForm.get('date').errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Botón para Crear/Actualizar -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button 
                  *ngIf="mode == 2" 
                  type="submit" 
                  class="btn btn-success btn-block" 
                  (click)="create()"
                >Crear</button>
                <button 
                  *ngIf="mode == 3" 
                  type="submit" 
                  class="btn btn-success btn-block" 
                  (click)="update()"
                >Actualizar</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
4