<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Contrato</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Contrato</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Contrato</h3>
        </div>
        <form [formGroup]="contractForm">
          <div class="card-body">
            <!-- ID -->
            <div class="row mb-3">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{contractId}}</p>
              </div>
            </div>

            <!-- Tipo de contrato -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Tipo de contrato:</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control" formControlName="contractType" placeholder="Ingrese el tipo de contrato" 
                       [readonly]="mode === 1" />
                <div *ngIf="getTheFormGroup.contractType.invalid && (getTheFormGroup.contractType.dirty || getTheFormGroup.contractType.touched || trySend)">
                  <strong class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Fecha inicio -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Fecha inicio:</label>
              </div>
              <div class="col-8">
                <input type="date" class="form-control" formControlName="fecha_inicio" placeholder="Seleccione la fecha de inicio" 
                       [readonly]="mode === 1" />
                <div *ngIf="getTheFormGroup.fecha_inicio.invalid && (getTheFormGroup.fecha_inicio.dirty || getTheFormGroup.fecha_inicio.touched || trySend)">
                  <strong class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Acciones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="handleAction()">Crear</button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="handleAction()">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

