<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="contractForm">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{contractId}}</p>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Tipo de contrato:</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control" formControlName="contractType" title="Tipo de contrato" placeholder="Ingrese el tipo de contrato">
                <div *ngIf="getTheFormGroup.contractType.errors && (getTheFormGroup.contractType.dirty || getTheFormGroup.contractType.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.contractType.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Fecha inicio:</label>
              </div>
              <div class="col-8">
                <input type="date" class="form-control" formControlName="startDate" title="Fecha inicio" placeholder="Seleccione la fecha de inicio">
                <div *ngIf="getTheFormGroup.startDate.errors && (getTheFormGroup.startDate.dirty || getTheFormGroup.startDate.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.startDate.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="create()"> Crear </button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="update()"> Actualizar </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
