<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Dueño</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Dueño</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Dueño</h3>
        </div>
        <form class="form" [formGroup]="duenoForm">
          <div class="card-body">
            <!-- user_id -->
            <div class="row">
              <div class="col-4">
                <label>Usuario ID:</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control" formControlName="user_id" title="Usuario ID" placeholder="Ingrese el ID del usuario">
                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.user_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />
            
            <!-- Conductor ID -->
            <div class="row">
              <div class="col-4">
                <label>Conductor ID:</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control" formControlName="conductor_id" title="Conductor ID" placeholder="Ingrese el ID del conductor">
                <div *ngIf="getTheFormGroup.conductor_id.errors && (getTheFormGroup.conductor_id.dirty || getTheFormGroup.conductor_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.conductor_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Botones de acción -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="create()">Crear</button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
