<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Dueño</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Dueño</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Dueño</h3>
        </div>
        <form class="form" [formGroup]="duenoForm">
          <div class="card-body">
            <!-- Campos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="user_id" class="form-label">ID del Usuario:</label>
              </div>
              <div class="col-8">
                <input
                  id="user_id"
                  type="text"
                  class="form-control"
                  formControlName="user_id"
                  placeholder="Ingrese el ID del usuario"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="conductor_id" class="form-label">ID del Conductor:</label>
              </div>
              <div class="col-8">
                <input
                  id="conductor_id"
                  type="number"
                  class="form-control"
                  formControlName="conductor_id"
                  placeholder="Ingrese el ID del conductor"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <!-- Botones -->
            <div class="row">
              <div class="col-8 offset-4 d-flex justify-content-between">
                <button
                  *ngIf="mode === 2 || mode === 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode === 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>