<div class="container-fluid d-flex flex-column align-items-center map-container">
  <!-- Mapa: Se ocupará el espacio con altura definida -->
  <div class="row w-100 map-row">
    <div class="col-md-12">
      <div #mapCanvas id="map-canvas" class="map-canvas" data-lat="0" data-lng="0"></div>
    </div>
  </div>

  <!-- Selector de vehículo: Está centrado abajo del mapa -->
  <div class="row mt-4 w-100 justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="vehicle-select">Selecciona un vehículo:</label>
        <select id="vehicle-select" class="form-control" (change)="onVehicleSelect($event)">
          <option value="" disabled selected>Seleccione un vehículo</option>
          <!-- Opciones dinámicas generadas desde el componente -->
          <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
            Vehículo {{ vehicle.id }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
