<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Conductor</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Conductor</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Conductor</h3>
        </div>

        <form class="form" [formGroup]="conductorForm">
          <div class="card-body">
            <!-- ID del conductor -->
            <div class="row mb-3">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ conductorId }}</p>
                <input
                  *ngIf="mode != 1"
                  type="text"
                  class="form-control"
                  formControlName="id"
                  title="ID"
                  placeholder="Ingrese ID"
                  [readonly]="mode === 1"
                />
              </div>
            </div>

            <!-- Usuario ID -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Usuario ID:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ conductorForm.get('user_id').value }}</p>
                <input
                  *ngIf="mode != 1"
                  type="text"
                  class="form-control"
                  formControlName="user_id"
                  title="Usuario ID"
                  placeholder="Ingrese Usuario ID"
                />
                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.user_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Licencia -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Licencia:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ conductorForm.get('licencia').value }}</p>
                <input
                  *ngIf="mode != 1"
                  type="text"
                  class="form-control"
                  formControlName="licencia"
                  title="Licencia"
                  placeholder="Ingrese Licencia"
                />
                <div *ngIf="getTheFormGroup.licencia.errors && (getTheFormGroup.licencia.dirty || getTheFormGroup.licencia.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.licencia.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Tipo Licencia -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Tipo Licencia:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ conductorForm.get('tipo_licencia').value }}</p>
                <input
                  *ngIf="mode != 1"
                  type="text"
                  class="form-control"
                  formControlName="tipo_licencia"
                  title="Tipo Licencia"
                  placeholder="Ingrese el tipo de licencia"
                />
                <div *ngIf="getTheFormGroup.tipo_licencia.errors && (getTheFormGroup.tipo_licencia.dirty || getTheFormGroup.tipo_licencia.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.tipo_licencia.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Teléfono -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Teléfono:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ conductorForm.get('telefono').value }}</p>
                <input
                  *ngIf="mode != 1"
                  type="text"
                  class="form-control"
                  formControlName="telefono"
                  title="Teléfono"
                  placeholder="Ingrese el teléfono"
                />
                <div *ngIf="getTheFormGroup.telefono.errors && (getTheFormGroup.telefono.dirty || getTheFormGroup.telefono.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.telefono.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-12 d-flex justify-content-between">
                <button *ngIf="mode == 2" type="button" class="btn btn-success" (click)="create()">Crear</button>
                <button *ngIf="mode == 3" type="button" class="btn btn-primary" (click)="update()">Actualizar</button>
                <button *ngIf="mode == 1" type="button" class="btn btn-danger" (click)="delete(conductorId)">Eliminar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
