<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="addreRouteOrderForm">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ addreRouteOrderId }}</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Dirección ID:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="addressId"
                  title="Dirección ID"
                  placeholder="Ingrese Dirección ID"
                />
                <div
                  *ngIf="getTheFormGroup.addressId.errors && (getTheFormGroup.addressId.dirty || getTheFormGroup.addressId.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.addressId.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Ruta ID:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="routeId"
                  title="Ruta ID"
                  placeholder="Ingrese Ruta ID"
                />
                <div
                  *ngIf="getTheFormGroup.routeId.errors && (getTheFormGroup.routeId.dirty || getTheFormGroup.routeId.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.routeId.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <!-- Crear -->
                <button 
                  *ngIf="mode == 2" 
                  type="button" 
                  class="btn btn-success" 
                  (click)="create()"> 
                  Crear 
                </button>
                <!-- Actualizar -->
                <button 
                  *ngIf="mode == 3" 
                  type="button" 
                  class="btn btn-primary" 
                  (click)="update()"> 
                  Actualizar 
                </button>
                <!-- Eliminar -->
                <button 
                  *ngIf="mode == 1" 
                  type="button" 
                  class="btn btn-danger" 
                  (click)="delete()"> 
                  Eliminar 
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>