<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Municipio</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Municipio</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Municipio</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar Municipio</h3>
          <h3 *ngIf="mode == 5" class="mb-0">Crear Municipio Departamento_Id #{{municipality.department.id}}</h3>

        </div>
        <form class="form" [formGroup]="municipalityForm">
          <div class="card-body">
            <!-- Campo Nombre -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="name" class="form-label">Nombre:</label>
              </div>
              <div class="col-8">
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Ingrese el nombre del municipio"
                  [readonly]="mode == 1 || mode == 4"
                  [class.is-invalid]="trySend && getTheFormGroup.name.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.name.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo Descripción -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="description" class="form-label">Descripción:</label>
              </div>
              <div class="col-8">
                <textarea
                  id="description"
                  class="form-control"
                  formControlName="description"
                  placeholder="Ingrese una descripción (opcional)"
                  [readonly]="mode == 1 || mode == 4"
                ></textarea>
              </div>
            </div>

            <!-- Campo ID del Departamento -->
            <div class="row mb-3">
              <div class="col-4">
                Departamento:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="department_id" [ngModel]="municipality.department.id">
                  <option *ngFor="let option of departments"  [value]="option.id">Id: {{option.id}} - Nombre: {{option.name}} - Descripción: {{option.description}} </option>
                </select>
              </div>
                </div>
              </div>
         

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button
                  *ngIf="mode == 2 || mode == 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode == 2 ? 'Crear' : 'Actualizar' }}
                </button>

                <button
                *ngIf="mode == 5"
                type="button"
                class="btn btn-primary me-2"
                (click)="createForDepartment()"
              >
                Crear para Departamento
              </button>

               <!-- Eliminar -->
               <button
               *ngIf="mode == 4"
               type="button"
               class="btn btn-danger"
               (click)="delete()"
             >
               Eliminar
             </button>
              </div>
         </div>
        </form>
      </div>
      </div>
    </div>
  </div>
