<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Restaurantes</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success" (click)="create()">Crear</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Estrellas</th>
                <th scope="col">Servicio ID</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Actualización</th>
            
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let restaurant of restaurants">
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.stars }}</td>
                <td>{{ restaurant.service_id }}</td>
                <td>{{restaurant.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{restaurant.updatedAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="view(restaurant.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(restaurant.id)">Editar</button>
                  <button type="button" class="btn btn-dark" (click)="delete(restaurant.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>