<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Gastos</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success" (click)="create()">Crear</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">monto</th>
                <th scope="col">Conductor ID</th>
                <th scope="col">Servicio ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Dueño ID</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Actualización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let spent of spents">
                <td>{{ spent.id }}</td>
                <td>{{ spent.description }}</td>
                <td>{{ spent.monto }}</td>
                <td>{{ spent.conductor_id }}</td>
                <td>{{ spent.servicio_id }}</td>
                <td>{{ spent.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ spent.dueno_id }}</td>
                <td>{{shift.created_at | date: 'dd/MM/yyyy' }}</td>
                <td>{{shift.updated_at | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="view(spent.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(spent.id)">Editar</button>
                  <button type="button" class="btn btn-dark" (click)="delete(spent.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
