<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Producto</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Producto</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Producto</h3>
        </div>
        <form class="form" [formGroup]="productForm">
          <div class="card-body">
            <!-- Campo Nombre -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="name" class="form-label">Nombre:</label>
              </div>
              <div class="col-8">
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Ingrese el nombre del producto"
                  [readonly]="mode === 1"
                />
              </div>
            </div>

            <!-- Campo Descripción -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="description" class="form-label">Descripción:</label>
              </div>
              <div class="col-8">
                <textarea
                  id="description"
                  class="form-control"
                  formControlName="description"
                  placeholder="Ingrese la descripción del producto"
                  [readonly]="mode === 1"
                ></textarea>
              </div>
            </div>

            <!-- Campo Lote -->
            <div class="row mb-3">
              <div class="col-4">
                Lote:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="batch_id" [(ngModel)]="product.batch.id" >
                  <option *ngFor="let option of batches" [value]="option.id">Id: {{option.id}} - Cantidad: {{option.quantity}} - Ruta: {{option.route}}</option>
                 </select>
                 <div *ngIf="trySend && getTheFormGroup.batch_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo Cliente -->
            <div class="row mb-3">
              <div class="col-4">
                Cliente:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="customer_id" [(ngModel)]="product.customer.id" >
                  <option *ngFor="let option of customers" [value]="option.id">Id: {{option.id}} - Teléfono: {{option.phone}} - Cantidad de pedidos: {{option.order_count}}</option>
                 </select>
                 <div *ngIf="trySend && getTheFormGroup.customer_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-8 offset-4 d-flex justify-content-between">
                <button
                  *ngIf="mode === 2 || mode === 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode === 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>