<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Factura</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Factura</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Factura</h3>
          <div *ngIf="mode === 5">
            <h3 class="text-center">Procesar Pago de Factura</h3>
            <p><strong>ID de la Factura:</strong> {{ facturaId }}</p>
            <p><strong>Fecha de Emisión:</strong> {{ factura.id.fecha_emision }}</p>
            <p><strong>Monto Total:</strong> {{ factura.id.monto_total }}</p>
            <p><strong>Estado:</strong> {{ factura.id.estado }}</p>
          
            <div class="text-center mt-4">
              <button type="button" class="btn btn-success" (click)="handlePayment()">Confirmar Pago</button>
              <button type="button" class="btn btn-secondary" (click)="router.navigate(['/facturas'])">Cancelar</button>
            </div>
          </div>
        </div>
        
        <form class="form" [formGroup]="facturaForm">
          <div class="card-body">
            <!-- Campos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="fecha_emision" class="form-label">Fecha de Emisión:</label>
              </div>
              <div class="col-8">
                <input
                  id="fecha_emision"
                  type="date"
                  class="form-control"
                  formControlName="fecha_emision"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="monto_total" class="form-label">Monto Total:</label>
              </div>
              <div class="col-8">
                <input
                  id="monto_total"
                  type="number"
                  class="form-control"
                  formControlName="monto_total"
                  placeholder="Ingrese el monto total"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="estado" class="form-label">Estado:</label>
              </div>
              <div class="col-8">
                <input
                  id="estado"
                  type="text"
                  class="form-control"
                  formControlName="estado"
                  placeholder="Ingrese el estado"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>

            <!--Desplegable cuota-->
            <div class="row mb-3">
              <div class="col-4">
                Cuota:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="cuota_id" [ngModel]="factura.cuota.id">
                  <option *ngFor="let option of cuotas" [value]="option.id">Id:{{option.id}}- Monto:{{option.monto}} - Fecha de Vencimiento: {{option.fecha_vencimiento}} - Estado de pago:{{option.estado_pago}} - Id Contrato: {{option.contract_id}}</option>
                </select>
               
              </div>
            </div>
            <!--Desplegable gasto-->
            <div class="row mb-3">
              <div class="col-4">
                Gasto:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="spent_id" [ngModel]="factura.spent.id">
                  <option *ngFor="let option of spents" [value]="option.id">Id: {{option.id}} - Descripción: {{option.description}} - Monto: {{option.monto}} - Fecha: {{option.date}} - Id Servicio: {{option.servicio_id}} -  Id Conductor {{option.conductor_id}} - Id Dueño{{option.dueno_id}}</option>
                </select>
              </div>
            </div>
            
            <!-- Botones -->
            <div class="row">
              <div class="col-8 offset-4 d-flex justify-content-between">
                <button
                  *ngIf="mode === 2 || mode === 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode === 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>