<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Factura</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Factura</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Factura</h3>
        </div>
        <form class="form" [formGroup]="facturaForm">
          <div class="card-body">
            <!-- Campos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="fecha_emision" class="form-label">Fecha de Emisión:</label>
              </div>
              <div class="col-8">
                <input
                  id="fecha_emision"
                  type="date"
                  class="form-control"
                  formControlName="fecha_emision"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="monto_total" class="form-label">Monto Total:</label>
              </div>
              <div class="col-8">
                <input
                  id="monto_total"
                  type="number"
                  class="form-control"
                  formControlName="monto_total"
                  placeholder="Ingrese el monto total"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="estado" class="form-label">Estado:</label>
              </div>
              <div class="col-8">
                <input
                  id="estado"
                  type="text"
                  class="form-control"
                  formControlName="estado"
                  placeholder="Ingrese el estado"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="cuota_id" class="form-label">ID de la Cuota:</label>
              </div>
              <div class="col-8">
                <input
                  id="cuota_id"
                  type="number"
                  class="form-control"
                  formControlName="cuota_id"
                  placeholder="Ingrese el ID de la cuota asociada"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="spent_id" class="form-label">ID del Gasto:</label>
              </div>
              <div class="col-8">
                <input
                  id="spent_id"
                  type="number"
                  class="form-control"
                  formControlName="spent_id"
                  placeholder="Ingrese el ID del gasto asociado"
                  [readonly]="mode === 1 || mode === 4"
                />
              </div>
            </div>
            <!-- Botones -->
            <div class="row">
              <div class="col-8 offset-4 d-flex justify-content-between">
                <button
                  *ngIf="mode === 2 || mode === 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode === 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>