<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Turnos</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success" (click)="create()">Crear</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Tiempo de inicio</th>
                <th scope="col">Tiempo de fin</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Conductor</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Actualización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shift of shifts">
                <td>{{ shift.id }}</td>
                <td>{{shift.start_time | date: 'dd/MM/yyyy' }}</td>
                <td>{{shift.end_time | date: 'dd/MM/yyyy' }}</td>
                <td>{{shift.location}}</td>
                <td>{{shift.conductor_id}}</td>
                <td>{{shift.created_at | date: 'dd/MM/yyyy' }}</td>
                <td>{{shift.updated_at | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="view(shift.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(shift.id)">Editar</button>
                  <button type="button" class="btn btn-dark" (click)="delete(shift.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
