<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Conductores De Vehiculos</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success" (click)="create()">Crear</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha de Asignación</th>
                <th scope="col">Fecha de Desasignación</th>
                <th scope="col">Vehiculo ID</th>
                <th scope="col">Conductor ID</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Actualización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let driver of vehicleDrivers">
                <td>{{ driver.id }}</td>
                <td>{{driver.fecha_asignacion| date: 'dd/MM/yyyy' }}</td>
                <td>{{driver.fecha_desasignacion | date: 'dd/MM/yyyy' }}</td>
                <td>{{driver.vehiculo_id }}</td>
                <td>{{driver.conductor_id }}</td>
                <td>{{driver.created_at | date: 'dd/MM/yyyy' }}</td>
                <td>{{driver.updated_at | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="view(driver.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(driver.id)">Editar</button>
                  <button type="button" class="btn btn-dark" (click)="delete(driver.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>