<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Cliente</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Cliente</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Cliente</h3>
        </div>
        <form class="form" [formGroup]="customerForm">
          <div class="card-body">
            <!-- Campo user_id -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="user_id" class="form-label">ID de Usuario:</label>
              </div>
              <div class="col-8">
                <input
                  id="user_id"
                  type="text"
                  class="form-control"
                  formControlName="user_id"
                  placeholder="Ingrese el ID del usuario"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo Teléfono -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="phone" class="form-label">Teléfono:</label>
              </div>
              <div class="col-8">
                <input
                  id="phone"
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  placeholder="Ingrese el teléfono del cliente"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo Número de Pedidos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="order_count" class="form-label">Número de Pedidos:</label>
              </div>
              <div class="col-8">
                <input
                  id="order_count"
                  type="number"
                  class="form-control"
                  formControlName="order_count"
                  placeholder="Ingrese el número de pedidos realizados"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button
                  *ngIf="mode == 2 || mode == 3"
                  type="button"
                  class="btn btn-success"
                  (click)="mode == 2 ? create() : update()"
                >
                  {{ mode == 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>