<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Dirección</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Dirección</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Dirección</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar Dirección</h3>
        </div>
        <form class="form" [formGroup]="addressForm">
          <div class="card-body">
            <!-- Campo Calle -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="street" class="form-label">Calle:</label>
              </div>
              <div class="col-8">
                <input
                  id="street"
                  type="text"
                  class="form-control"
                  formControlName="street"
                  placeholder="Ingrese la calle"
                  [readonly]="mode == 1 || mode == 4"
                  [class.is-invalid]="trySend && getTheFormGroup.street.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.street.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo Número -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="number" class="form-label">Número:</label>
              </div>
              <div class="col-8">
                <input
                  id="number"
                  type="text"
                  class="form-control"
                  formControlName="number"
                  placeholder="Ingrese el número (opcional)"
                  [readonly]="mode == 1 || mode == 4"
                />
              </div>
            </div>

            <!-- Campo Barrio -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="neighborhood" class="form-label">Barrio:</label>
              </div>
              <div class="col-8">
                <input
                  id="neighborhood"
                  type="text"
                  class="form-control"
                  formControlName="neighborhood"
                  placeholder="Ingrese el barrio"
                  [readonly]="mode == 1 || mode == 4"
                  [class.is-invalid]="trySend && getTheFormGroup.neighborhood.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.neighborhood.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo Referencia -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="reference" class="form-label">Referencia:</label>
              </div>
              <div class="col-8">
                <textarea
                  id="reference"
                  class="form-control"
                  formControlName="reference"
                  placeholder="Ingrese una referencia (opcional)"
                  [readonly]="mode == 1 || mode == 4"
                ></textarea>
              </div>
            </div>

            <!-- Campo ID del Municipio -->
            <div class="row mb-3">
              <div class="col-4">
                Municipio:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="municipality_id" [ngModel]="address.municipality.id" >
                  <option *ngFor="let option of municipalities" [value]="option.id">Id: {{option.id}} - Nombre: {{option.name}} - Descripción: {{option.description}} - Departamento: {{option.department}}</option>
                </select>
              </div>
            </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button
                  *ngIf="mode == 2 || mode == 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode == 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>