<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar</h3>
        </div>
        <form class="form" [formGroup]="addressForm">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ addressId }}</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Calle:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="street"
                  title="Calle"
                  placeholder="Ingrese Calle"
                />
                <div
                  *ngIf="getTheFormGroup.street.errors && (getTheFormGroup.street.dirty || getTheFormGroup.street.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.street.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Número:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="number"
                  title="Número"
                  placeholder="Ingrese Número"
                />
                <div
                  *ngIf="getTheFormGroup.number.errors && (getTheFormGroup.number.dirty || getTheFormGroup.number.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.number.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Barrio:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="neighborhood"
                  title="Barrio"
                  placeholder="Ingrese Barrio"
                />
                <div
                  *ngIf="getTheFormGroup.neighborhood.errors && (getTheFormGroup.neighborhood.dirty || getTheFormGroup.neighborhood.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.neighborhood.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Referencia:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="reference"
                  title="Referencia"
                  placeholder="Ingrese Referencia"
                />
                <div
                  *ngIf="getTheFormGroup.reference.errors && (getTheFormGroup.reference.dirty || getTheFormGroup.reference.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.reference.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label>Municipio ID:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="municipalityId"
                  title="Municipio ID"
                  placeholder="Ingrese Municipio ID"
                />
                <div
                  *ngIf="getTheFormGroup.municipalityId.errors && (getTheFormGroup.municipalityId.dirty || getTheFormGroup.municipalityId.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.municipalityId.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button 
                  *ngIf="mode == 2" 
                  type="button" 
                  class="btn btn-success" 
                  (click)="create()"> 
                  Crear 
                </button>
                <button 
                  *ngIf="mode == 3" 
                  type="button" 
                  class="btn btn-primary" 
                  (click)="update()"> 
                  Actualizar 
                </button>
                <button 
                  *ngIf="mode == 1" 
                  type="button" 
                  class="btn btn-danger" 
                  (click)="delete()"> 
                  Eliminar 
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>