<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode === 1" class="mb-0">Visualizar Relación Dueño-Vehículo</h3>
          <h3 *ngIf="mode === 2" class="mb-0">Crear Relación Dueño-Vehículo</h3>
          <h3 *ngIf="mode === 3" class="mb-0">Actualizar Relación Dueño-Vehículo</h3>
        </div>
        <form class="form" [formGroup]="ownerVehicleForm">
          <div class="card-body">
            <!-- Campos -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="fecha_asignacion" class="form-label">Fecha de Asignación:</label>
              </div>
              <div class="col-8">
                <input
                  id="fecha_asignacion"
                  type="date"
                  class="form-control"
                  formControlName="fecha_asignacion"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="fecha_desasignacion" class="form-label">Fecha de Desasignación:</label>
              </div>
              <div class="col-8">
                <input
                  id="fecha_desasignacion"
                  type="date"
                  class="form-control"
                  formControlName="fecha_desasignacion"
                  [readonly]="mode === 1"
                />
              </div>
            </div>
            <!--Vehiculo-->
            <div class="row mb-3">
              <div class="col-4">
                Vehiculo:
              </div>
              <div class="col-8">
               <select class="form-control" formControlName="vehiculo_id" [(ngModel)]="ownerVehiculo.vehiculo.id" >
                <option *ngFor="let option of vehiculos" [value]="option.id">Id: {{option.id}} - Tipo Vehiculo: {{option.tipo_vehiculo}} - Capacidad Peso: {{option.capacidad_peso}} - Capacidad Volumen: {{option.capacidad_volumen}} - Estado: {{option.estado}}</option>
               </select>
                <div *ngIf="trySend && getTheFormGroup.vehiculo_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

                     <!--Dueño-->
          <div class="row mb-3">
            <div class="col-4">Dueño:</div>
            <div class="col-8">
              <select
                class="form-control"
                formControlName="dueno_id"
                [(ngModel)]="ownerVehiculo.dueno.id"
              >
                <option *ngFor="let option of duenos" [value]="option.id">
                  Id: {{ option.id }} - Id Usuario: {{option.user_id}} - Conductor:{{option.conductor_id}} 
                </option>
              </select>
              <div
                *ngIf="trySend && getTheFormGroup.dueno_id.invalid"
                class="invalid-feedback"
              >
                Este campo es obligatorio.
              </div>
            </div>
          </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-8 offset-4 d-flex justify-content-between">
                <button
                  *ngIf="mode === 2 || mode === 3"
                  type="button"
                  class="btn btn-success"
                  (click)="handleAction()"
                >
                  {{ mode === 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>