<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Hotel</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Hotel</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Hotel</h3>
        </div>
        <form class="form" [formGroup]="hotelForm">
          <div class="card-body">

            <!-- Estrellas -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Estrellas:</label>
              </div>
              <div class="col-8">
                <input type="number" class="form-control" formControlName="stars" title="Estrellas del hotel" placeholder="Ingrese el número de estrellas" [readonly]="mode === 1" min="1" max="5">
                <div *ngIf="getTheFormGroup.stars.errors && (getTheFormGroup.stars.dirty || getTheFormGroup.stars.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.stars.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Servicio ID -->
            <div class="row mb-3">
              <div class="col-4">
                <label>Servicio ID:</label>
              </div>
              <div class="col-8">
                <input type="number" class="form-control" formControlName="servicio_id" title="Servicio ID" placeholder="Ingrese el ID del servicio" [readonly]="mode === 1">
                <div *ngIf="getTheFormGroup.servicio_id.errors && (getTheFormGroup.servicio_id.dirty || getTheFormGroup.servicio_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.servicio_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Botón Crear/Actualizar -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="handleAction()">Crear Hotel</button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="handleAction()">Actualizar Hotel</button>
                <button *ngIf="mode == 4" type="button" class="btn btn-danger btn-block" (click)="handleAction()">Eliminar Hotel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
