<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row justify-content-center"> <!-- Centrado horizontalmente -->
    <div class="col-12 col-md-8"> <!-- Limita el tamaño en pantallas grandes -->
      <div class="card shadow bg-translucent"> <!-- Fondo translúcido con desenfoque -->
        <div class="card-header border-0">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Restaurante</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Restaurante</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Restaurante</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar Restaurante</h3>
        </div>
        <form class="form" [formGroup]="restaurantForm">
          <div class="card-body">

            <!-- ID -->
            <div class="row">
              <div class="col-4">
                <label>ID:</label>
              </div>
              <div class="col-8">
                <p>{{ restaurantId }}</p>
              </div>
            </div>
            <br />

            <!-- Starts -->
            <div class="row">
              <div class="col-4">
                <label for="starts" class="form-label">Starts:</label>
              </div>
              <div class="col-8">
                <input *ngIf="mode != 1" type="text" class="form-control" formControlName="starts" title="Starts" placeholder="Ingrese la información de Starts">
                <p *ngIf="mode == 1">{{ restaurantForm.value.starts }}</p>
                <div *ngIf="getTheFormGroup.starts.errors && (getTheFormGroup.starts.dirty || getTheFormGroup.starts.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.starts.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Servicio ID -->
            <div class="row">
              <div class="col-4">
                <label for="servicio_id" class="form-label">Servicio ID:</label>
              </div>
              <div class="col-8">
                <input *ngIf="mode != 1" type="number" class="form-control" formControlName="servicio_id" title="Servicio ID" placeholder="Ingrese el ID del servicio">
                <p *ngIf="mode == 1">{{ restaurantForm.value.servicio_id }}</p>
                <div *ngIf="getTheFormGroup.servicio_id.errors && (getTheFormGroup.servicio_id.dirty || getTheFormGroup.servicio_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.servicio_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br />

            <!-- Botones para Crear/Actualizar/Eliminar -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block" (click)="create()">Crear Restaurante</button>
                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block" (click)="update()">Actualizar Restaurante</button>
                <button *ngIf="mode == 4" type="button" class="btn btn-danger btn-block" (click)="delete()">Eliminar Restaurante</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
