<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Lista de Clientes</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success mb-3" (click)="create()">Crear Cliente</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">ID de Usuario</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Pedidos Realizados</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of customers">
                  <td>{{ actual.id }}</td>
                  <td>{{ actual.user_id }}</td>
                  <td>{{ actual.phone }}</td>
                  <td>{{ actual.order_count }}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-sm" (click)="view(actual.id)">Ver</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="update(actual.id)">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(actual.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>