<div class="container-fluid mt--7">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Ruta</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Ruta</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Ruta</h3>
        </div>
        <form class="form" [formGroup]="routeForm">
          <div class="card-body">
            <!-- Campo Lugar de Inicio -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="starting_place" class="form-label">Lugar de Inicio:</label>
              </div>
              <div class="col-8">
                <input
                  id="starting_place"
                  type="text"
                  class="form-control"
                  formControlName="starting_place"
                  placeholder="Ingrese el lugar de inicio"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo Lugar de Destino -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="ending_place" class="form-label">Lugar de Destino:</label>
              </div>
              <div class="col-8">
                <input
                  id="ending_place"
                  type="text"
                  class="form-control"
                  formControlName="ending_place"
                  placeholder="Ingrese el lugar de destino"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo Distancia -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="distance" class="form-label">Distancia (km):</label>
              </div>
              <div class="col-8">
                <input
                  id="distance"
                  type="number"
                  class="form-control"
                  formControlName="distance"
                  placeholder="Ingrese la distancia en kilómetros"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo Fecha de Entrega -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="delivery_date" class="form-label">Fecha de Entrega:</label>
              </div>
              <div class="col-8">
                <input
                  id="delivery_date"
                  type="date"
                  class="form-control"
                  formControlName="delivery_date"
                  [readonly]="mode == 1"
                />
              </div>
            </div>

            <!-- Campo ID del Contrato -->
            <div class="row mb-3">
              <div class="col-4">
                Contrato:
              </div>
              <div class="col-8">
               <select class="form-control" formControlName="contract_id" [(ngModel)]="route.contract.id" >
                <option *ngFor="let option of contracts" [value]="option.id">Id: {{option.id}}</option>
               </select>
                <div *ngIf="trySend && getTheFormGroup.contract_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>
            <!-- Campo ID del Vehículo -->
            <div class="row mb-3">
              <div class="col-4">
                Vehiculo:
              </div>
              <div class="col-8">
               <select class="form-control" formControlName="vehiculo_id" [(ngModel)]="route.vehiculo.id" >
                <option *ngFor="let option of vehiculos" [value]="option.id">Id: {{option.id}}</option>
               </select>
                <div *ngIf="trySend && getTheFormGroup.vehiculo_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Botones -->
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button
                  *ngIf="mode == 2 || mode == 3"
                  type="button"
                  class="btn btn-success"
                  (click)="mode == 2 ? create() : update()"
                >
                  {{ mode == 2 ? 'Crear' : 'Actualizar' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>