<div class="container-fluid mt--10">
  <div class="row justify-content-center">
    <div class="col-lg-10">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Hoteles</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-success" (click)="create()">Crear</button>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Estrellas</th>
                <th scope="col">Servicio Id</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Actualización</th>
      
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hotel of hoteles">
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.stars }}</td>
                <td>{{ hotel.servicio_id }}</td>
                <td>{{ hotel.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ hotel.updatedAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="view(hotel.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(hotel.id)">Editar</button>
                  <button type="button" class="btn btn-dark" (click)="delete(hotel.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
