<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8">
      <div class="card shadow bg-translucent">
        <div class="card-header border-0 text-center">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar Empresa</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear Empresa</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar Empresa</h3>
          <h3 *ngIf="mode == 4" class="mb-0">Eliminar Empresa</h3>
        </div>
        <form class="form" [formGroup]="companyForm">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ companyId }}</p>
              </div>
            </div>

            <!-- Campo Tipo de Empresa -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="company_type" class="form-label">Tipo de Empresa:</label>
              </div>
              <div class="col-8">
                <input
                  id="company_type"
                  type="text"
                  class="form-control"
                  formControlName="company_type"
                  [readonly]="mode == 1"
                  placeholder="Ingrese Tipo de Empresa"
                  [class.is-invalid]="trySend && getTheFormGroup.company_type.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.company_type.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo Dirección Fiscal -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="fiscal_address" class="form-label">Dirección Fiscal:</label>
              </div>
              <div class="col-8">
                <input
                  id="fiscal_address"
                  type="text"
                  class="form-control"
                  formControlName="fiscal_address"
                  [readonly]="mode == 1"
                  placeholder="Ingrese Dirección Fiscal"
                  [class.is-invalid]="trySend && getTheFormGroup.fiscal_address.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.fiscal_address.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Campo ID del Cliente -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="customer_id" class="form-label">ID del Cliente:</label>
              </div>
              <div class="col-8">
                <input
                  id="customer_id"
                  type="text"
                  class="form-control"
                  formControlName="customer_id"
                  [readonly]="mode == 1"
                  placeholder="Ingrese ID del Cliente"
                  [class.is-invalid]="trySend && getTheFormGroup.customer_id.invalid"
                />
                <div *ngIf="trySend && getTheFormGroup.customer_id.invalid" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8 d-flex justify-content-between">
                <button 
                  *ngIf="mode == 2" 
                  type="button" 
                  class="btn btn-success" 
                  (click)="handleAction()"> 
                  Crear 
                </button>
                <button 
                  *ngIf="mode == 3" 
                  type="button" 
                  class="btn btn-primary" 
                  (click)="handleAction()"> 
                  Actualizar 
                </button>
                <button 
                  *ngIf="mode == 4" 
                  type="button" 
                  class="btn btn-danger" 
                  (click)="handleAction()"> 
                  Eliminar 
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>